#container{
    display: flex;
    flex-direction: column;

    
    width: 480px;
    height: 480px;

    padding: 2px;

    background-color: black;
    gap: 2px;
}

.row{
    display: flex;
    gap: 2px;
    flex: 1;
}

.pixel{
    background-color: white;
    flex: 1
}